.geol{
    padding-bottom: 5%;
    &__text{
        color: #0004FF;
        font-size: 64px;
        margin-top: 20%;
        margin-left: 10%;
    }
    &__carta{
        width: 1157px;
        height: 564px;
        margin-left: 20%;
        margin-top: 5%;
    }
}
