.onas{
    &-text{
        margin-left: 50px;
        margin-top: 150px;
    }
    &__content{
        &-photos{
            margin-top: 50px;
            margin-left: 20px;
            float: left;
        }
        &-text11{
            color: #0004FF;
            font-size: 36px;
            justify-content: center;
            display: flex;
            padding: 100px 50px 20px;
            
        }
    }
}